* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.App {
  text-align: center;
  margin: auto;
  width: 90%;
}

#taskCards-wrapper {
  margin: 10px auto;
  background-color: wheat;
  border:2px solid black;
  border-radius:10px;
}
