.list-on{
    background-color: rgb(45, 170, 45);
    border: 3px outset grey;
    cursor: no-drop;
}
.list-off{
background-color: rgb(185, 44, 44);
border:3px inset grey;
cursor:grab;

}

#view-selctor-wrapper{
background-color: rgb(121, 85, 17);;
padding-bottom:20px;
border-left:2px solid black;
border-right:2px solid black;
border-bottom:2px solid black;
display:flex;
justify-content: space-evenly;
}

#view-selctor-wrapper button {
    width:15vw;
    min-width:150px;
    height:35px;
    border-radius:15px;
    margin:0px 2%px;
    
}
#view-selctor-wrapper button:hover{
    filter :brightness(1.5)
}