.taskCard {
    padding:10px;
    cursor: pointer;
  }

  .taskcard-number {
    cursor: move;
  } 
 
 #taskCards-wrapper >div   {
      border-bottom:1px dashed black;
  }
  #taskCards-wrapper >div:last-of-type   {
    border-bottom:none; 
}
#taskCards-wrapper >div:nth-of-type(odd)  {
  background-color: rgb(216, 192, 147);
}
  

  .taskcard-banner {
    display: flex;
  }
  
  .taskcard-name {
    flex: 0 0 60%;
    padding-left:20px;
    text-align: left;
  }
  
  .taskcard-date {
    flex: 0 0 25%;
  }
  
  .taskcard-icon {
    flex: 0 0 5%;
  }

  #icon {
    width:18px;
    aspect-ratio: 1/1;
  }